h1, h3 {
    text-align: center;
    padding: 15px;
}

section > span {
    margin: 20px 0 20px 0;
    display: block;
    font-size: 30px;
}

.caixa {
    border: 1px solid rgba(0,0,0,.1);
    padding: 15px;
}

.opcional {
    display: none;
}